body {
  font-family: 'Lato', sans-serif !important;
  color: #333;
}

h1 span {
  background-color: #4b74ff;
  font-size: 15px;
  float: right;
  color: #fff;
  font-weight: 400;
  padding: 5px 20px;
}

h1 span img {
  width: 15px;
  margin-right: 7px;
  margin-top: -3px;
}

h2 {
  font-size: 17px !important;
}

.table-striped th {
  color: #999;
  font-size: 17px;
}

.table-striped .blue {
  color: #4b74ff;
}

.room {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px 10px;
}

.lessons h2 {
  padding: 10px 0 2px;
  font-size: 17px !important;
  margin-top: 0;
  font-weight: bold;
}

.lessons p {
  background-color: #4b74ff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.events {
  background-color: #f9f9f9;
  padding: 10px 20px;
  text-align: center;
}

.events h3 {
  color: #4b74ff;
}

.events .date {
  color: #4b74ff;
  font-style: italic;
}

.events .btn {
  color: #fff;
  background-color: #4b74ff;
}

.events .info {
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}
